<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB_SERVER" value="127.0.0.1"/>
    <add key="DB_NAME" value="hafifot"/>
    <add key="DB_UID" value="root"/>
    <add key="DB_PASSWORD" value="root"/>
    <add key="DB_PULL_ALL" value="SELECT * FROM hafifot.purchases"/>
    <add key="PURCHASE_ID" value="id"/>
    <add key="STORE_TYPE" value="store_type"/>
    <add key="STORE_ID" value="store_id"/>
    <add key="ACTIVITY_DAYS" value="activity_days"/>
    <add key="CREDIT_CARD_NUMBER" value="credit_card"/>
    <add key="PURCHASE_DATE" value="purchase_date"/>
    <add key="ADD_TO_DB_DATE" value="insertion_date"/>
    <add key="PURCHASE_PRICE" value="total_price"/>
    <add key="NUMBER_OF_PAYMENTS" value="installments"/>
    <add key="PRICE_PER_PAYMENT" value="price_per_installment"/>
    <add key="IS_VALID" value="is_valid"/>
    <add key="WHY_INVALID" value="why invalid"/>
    <add key="RABBIT_USER_NAME" value="guest"/>
    <add key="RABBIT_PASSWORD" value="guest"/>
    <add key="RABBIT_HOST_NAME" value="localhost"/>
    <add key="RABBIT_VIRTUAL_HOST" value="/"/>
    <add key="RABBIT_PORT" value="15672"/>
    <add key="QUEUE_NAME" value="TEST"/>
  </appSettings>
</configuration>